*{

    
    margin: 0;
    padding: 0;
 

overflow: hidden;

display: flex;

align-items: center;

justify-content: center;
flex-direction: column;
    
}



html
{ 


    margin: 0;

    font-family: 'Poppins';
    background: rgb(0, 0, 0);
    cursor: url('/imges/mousemain.png'), auto;
    
    
}

.webgl
{
    position: absolute;z-index: 1;
    top: 0;
    left: 0;



}

.webgl:active
{
    cursor: url('/imges/mouse2.png'), auto; 
}





.yes{

    position: absolute; z-index: 4;

    height: 3000px;
    width: 3000px;
    background-color: black;
    opacity: 1;
    transition: all 1s;
}

img{

    position: absolute; z-index: 4;
width: 16%;
height: 100%;



    opacity: 1;
    transition: all 1s;  
}

h2{
    color: blue;
    position: absolute;z-index: 5;
    cursor: url('/imges/copy.png'),auto;
    position: absolute;z-index: 0;


}

h3{
    color: rgb(255, 125, 175);
    position: absolute; z-index: 6;
    height: 30ps;


opacity: 1;
transition: all 1s;
}

.loader{

position: absolute;


    background-color: azure;
    width: 0px;
    position: absolute; z-index: 5;
    color: rgb(240, 248, 255);
    border-bottom: dashed 3px rgb(0, 0, 0);
    border-top: dashed 3px rgb(0, 0, 0);
    transition: all .8s;
}

.loader-done{



    background-color: azure;
    width: 100%;
    position: absolute; z-index: 5;
    color: rgb(240, 248, 255);
    border-bottom: dashed 5px rgb(0, 0, 0);
    border-top: dashed 5px rgb(0, 0, 0);
    transition: all .3;
    opacity: 1;
}

.new-class{



    background-color: rgb(255, 255, 255);
    width: 0%;
    position: absolute; z-index: 5;
    color: rgb(0, 0, 0);
    border-bottom: dashed 10px rgb(0, 0, 0);
    border-top: dashed 10px rgb(0, 0, 0);
    transition: all .2s cubic-bezier(.1, .01, 20, 1);
    flex-wrap: nowrap;
    line-break: strict;
    white-space: nowrap;


}

.tits{

    width: 1900px;
    height: 300px;
    position: fixed; top: 420px; z-index: 50;

}

.minecraft{
    white-space: nowrap;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
   font-size: 15px;
    position: absolute;z-index: 3;

}


.lil-gui { 
    color: rgb(255, 187, 0);
    background-color: black;
    margin-left: 1768PX;
    display: inline-flex;
	position: relative; z-index: 20;
    width: 150px;
    padding: 5px;
    font-family: cursive;



}

.MIGDE{
    margin-top:  5px;
    position: relative;
    width: 100%;
    height: 50%;
}

nobr{
position: fixed; z-index: 99;
}