*
{
    margin: 0;
    padding: 0;

    
}

html,
body
{ 
    margin: 0;
    height: 100vh;
    font-family: 'Poppins';
    background: rgb(251, 255, 3);
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

