*


{
    margin: 0;
    padding: 0;

    
}



html,
body
{ 

    
    margin: 0;
    height: 100vh;
    font-family: 'Poppins';
    background: rgb(0, 0, 0);
    cursor: url('/imges/mouse1.png'), auto;
    
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;

}

.webgl:active
{
    cursor: url('/imges/mouse2.png'), auto;
}

nobr {
    cursor: url('/imges/copy.png'),auto;
  }


